gradle-masterclass/01-groovy-basics/.gradle/
gradle-masterclass/01-groovy-basics/gradlew
gradle-masterclass/01-groovy-basics/gradlew.bat
gradle-masterclass/01-groovy-basics/gradle/wrapper/gradle-wrapper.jar
gradle-masterclass/01-groovy-basics/gradle/wrapper/gradle-wrapper.properties
gradle-masterclass/02-gradle-basics/.gradle/
gradle-masterclass/02-gradle-basics/gradlew.bat
gradle-masterclass/02-gradle-basics/gradlew
gradle-masterclass/02-gradle-basics/gradle/wrapper/
gradle-masterclass/03-gradle-java-app/gradlejava1-complete/
gradle-masterclass/03-gradle-java-app/gradlejava1-initial/.gradle/
gradle-masterclass/03-gradle-java-app/gradlejava1-initial/gradlew
gradle-masterclass/03-gradle-java-app/gradlejava1-initial/gradlew.bat
gradle-masterclass/03-gradle-java-app/gradlejava1-initial/.gitignore
gradle-masterclass/03-gradle-java-app/gradlejava1-initial/gradle/wrapper/gradle-wrapper.properties
gradle-masterclass/03-gradle-java-app/gradlejava1-initial/build/
gradle-masterclass/04-gradle-java-web-app/sampleWebApp-complete/
gradle-masterclass/04-gradle-java-web-app/sampleWebApp-initial/.project
gradle-masterclass/04-gradle-java-web-app/sampleWebApp-initial/.gradle/
gradle-masterclass/04-gradle-java-web-app/sampleWebApp-initial/gradlew
gradle-masterclass/04-gradle-java-web-app/sampleWebApp-initial/gradlew.bat
gradle-masterclass/04-gradle-java-web-app/sampleWebApp-initial/gradle/wrapper/gradle-wrapper.properties
gradle-masterclass/04-gradle-java-web-app/sampleWebApp-initial/build/
*.project
gradle-masterclass/05-multi-project/gradle-multiProject-complete/allAboutNumbers-complete/pickerNumberApplication1-complete/
gradle-masterclass/05-multi-project/gradle-multiProject-complete/
gradle-masterclass/05-multi-project/gradle-multiProject-initial/allAboutNumbers-initial/.gradle/
gradle-masterclass/05-multi-project/gradle-multiProject-initial/allAboutNumbers-initial/gradlew
gradle-masterclass/05-multi-project/gradle-multiProject-initial/allAboutNumbers-initial/gradlew.bat
gradle-masterclass/05-multi-project/gradle-multiProject-initial/allAboutNumbers-initial/gradle/wrapper/gradle-wrapper.properties
gradle-masterclass/05-multi-project/gradle-multiProject-initial/allAboutNumbers-initial/pickerNumberApplication1-initial/build/
gradle-masterclass/05-multi-project/gradle-multiProject-initial/allAboutNumbers-initial/pickerNumberApplication1-initial/out/
gradle-masterclass/05-multi-project/gradle-multiProject-initial/allAboutNumbers-initial/randomNumberGen1-initial/build/
gradle-masterclass/06-multi-web-project/gradle-teaching-academy/.gradle/
gradle-masterclass/06-multi-web-project/gradle-teaching-academy/academy-web/build/
