gradle-masterclass/01-groovy-basics/.gradle/
gradle-masterclass/01-groovy-basics/gradlew
gradle-masterclass/01-groovy-basics/gradlew.bat
gradle-masterclass/01-groovy-basics/gradle/wrapper/gradle-wrapper.jar
gradle-masterclass/01-groovy-basics/gradle/wrapper/gradle-wrapper.properties
